#!/usr/bin/env bash

#
# This is an example configuration file for nix-scripts. Copy this file to
# ~/.nix-scripts.rc and change the values of the variables to match your setup.
# Remember to update the configuration file whenever you update nix-scripts.
#

#
# Path to your configuration directory, where a git lives.
#
RC_CONFIG=~/config

#
# Path to your nixpkgs clone
#
RC_NIXPKGS=~/nixpkgs


#
#
# Command: switch
#
#

#
# default flags for git-tagging when doing nix-script switch
#
RC_SWITCH_DEFAULT_TAG_FLAGS="-a"


#
# default flags for git-tagging nixpkgs when doing nix-script switch
#
RC_SWITCH_DEFAULT_TAG_FLAGS_NIXPKGS=""

#
# Container configuration templates can be put in single files and put in a
# directory which should be configured here.
#
# The file names must end with .template.nix
#
RC_CONTAINER_CONF_TEMPLATE_DIR=~/.nixos-scripts-container-conf-templates/


#
#
# Command: update-package-def
#
#

#
# default number to pass to "nix-build -j"
#
RC_UPD_NIX_BUILD_J=2

#
# default number to pass to "nix-build --cores"
#
RC_UPD_NIX_BUILD_CORES=2

#
# when updating a package definition, do git-push afterwards
# 0 = no, 1 = yes
#
RC_UPD_PUSH=0

#
# when updating a package definition, push to this remote. Several can be
# specified.
#
RC_UPD_PUSH_REMOTE="github"

